footer {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    gap: 1rem;
}

footer img {
    max-width: 100px;
}

.social {
    display: flex;
    flex-direction: row;
    gap: 1rem;
}

.social img {
    width: 24px;
    height: 24px;
}